@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
:root{
  --mainColor : #a1cbe3;
  --btnColor : #9fc7e0;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  background-color: #eff3f3 ;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}



blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, Arial;
}

button {
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

.loader{
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 99999;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding: 30px 15px;
  text-align: center;
  transition: 2.6s  opacity 3s ease-in-out;
  & img{
    width: 100%;
    height: 60%;
    opacity: .5;
    filter: drop-shadow(0 0 10px #207d8b);
  }
  & > div{
    height: 100%;
    position: relative;

  }

  
  & .numb__count{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    animation-name: year;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-shadow: 0 0 10px #fff;
    font-size: 240px;
    color: #207d8b;
  }

  &.hide{
    opacity: 0;
    pointer-events: none;

    & img{
      transition: 0.6s opacity 0.5s ease-in-out;

      opacity: 1;
    }
  }
 
}

@keyframes year {
  0%{
    bottom: 0;
    opacity: 0;
  }
  20%{
    bottom: 50%;
    opacity: 1;
  }
  74%{
    bottom: 50%;
    opacity: 1;
  }
  100%{
    opacity: 0;
    bottom: 50%;

  }
}
.button{
  padding: 10px 15px;
  border-radius: 16px;
  background: #d9e6f0;
  font: 500 18px Montserrat;
  color: #40617b;
  transition: all .4s ease-in-out;
  &:hover{
    box-shadow: 0 0 10px 2px #bbdcf4;
    transform: translateY(-3px);
  }
}

.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
}

h2{
  font: 46px Oswald;
  color: #23323a;
}


.lb-canvas, .lb-container .lb-header{
  backdrop-filter: blur(15px);
}
.lb-container div.lb-header{
  background: #0000005d;
  box-shadow: 0 0 10px 1px #000000;
}

div.react-transform-wrapper{
  overflow: initial;
}



/*Slider*/
div.our_prod__slider{
  padding: 35px clamp(25px, 3vw, 45px);
  & .swiper-wrapper{
    max-width: 1250px;
    margin: 0 auto;
  }

  & .swiper-slide-active {
    & > div{
      box-shadow: 0 0 10px 1px #404040;
    }
    & h4{
      opacity: 1;
      color: #c03b3e;
      &::before{
        background-color: #c03b3e;
      }
    }
    & img{
      transform: rotate(0);
      scale: 1.18;
      opacity: 1;
    }
  }
}

.certificate__slider{
  & .swiper-wrapper{
    align-items: stretch;
    & .swiper-slide{
        height: auto;
    }
  }
}

